:root {
    --background: 0 0% 100%;
    --foreground: 240 10% 3.9%;
    --muted: 240 4.8% 95.9%;
    --muted-foreground: 240 3.8% 46.1%;
    --primary: 240 5.9% 10%;
    --primary-foreground: 0 0% 98%;
    --secondary: 240 4.8% 95.9%;
    --secondary-foreground: 240 5.9% 10%;
    --accent: 240 4.8% 95.9%;
    --accent-foreground: 240 5.9% 10%;
    --destructive: 0 84.2% 60.2%;
    --destructive-foreground: 0 0% 98%;
    --card: 0 0% 100%;
    --card-foreground: 240 10% 3.9%;
    --border: 240 5.9% 90%;
    --input: 240 5.9% 90%;
    --ring: 240 5.9% 10%;
}

* {
    color: inherit;
    font-family: inherit;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background-color: hsl(var(--background));
    color: hsl(var(--foreground));
    font-family: "DM Sans";
}

ul {
    list-style: none;
}

button {
    background-color: transparent;
    cursor: pointer;
    border: none;
}

button:focus-visible {
    outline: none;
}

a {
    text-decoration: none;
}

img {
    display: inline-block;
    vertical-align: middle;
    object-fit: cover;
}

.container {
    max-width: 1536px;
    width: 100%;
    margin: 0 auto;
    padding: 0 15px;
}

.wrapper {
    min-height: 100dvh;
    display: flex;
    flex-direction: column;
}